@import "../../libs/normalize-scss/sass/normalize/import-now";

@import "skin";
@import "variables";
@import "mixins";
@import "mixins-media";
@import "extends";

@import "common";
@import "header/header";
@import "header/header-overlay";
@import "header/header-menu";
@import "header/header-logo";
@import "header/header-navbar";
@import "header/header-content";

@import "sections/section-skills/skills";
@import "sections/section-skills/skill-item";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";


//
//1. дублировал селектор
// + 2. чужой проект частью нашего проекта
//+ 3. много скролить на объемном коде.
//4. использовать переменные
//5. использовать повторно код
//+ 6. можно из нескольких файлов собирать 1
//+ 7. иерархия селекторов


@media (max-width: 992px) {
  .skills__container {
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
    grid-template-columns: repeat(3, 1fr);
  }
  h1 {
    font-size: 2.5rem;
  }
  .header-content__title {
    margin: 0 0 43px 0;
  }
  .btn {
    min-width: 200px;
    height: 50px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .skills__container {
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 1.875rem;
  }
  .header-content__title {
    margin: 0 0 33px 0;
  }
  .btn {
    min-width: 170px;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 576px) {
  .skills__container {
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    grid-template-columns: 1fr;
  }

  .header-content__buttons {
    align-items: center;
    flex-direction: column;
  }

  .header-content__buttons .btn:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
