.header-content {
  position: relative;

  &__container {
    @extend %container;
  }

  &__title {
    margin: 0 0 53px 0;

    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    .btn:first-of-type {
      margin-right: 20px;
    }
  }
}
